body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0;
    width: 1920px;
    }

footer {
    background: #F2F2F2;
    display: flex;
    justify-content:center;
    margin:0 auto

}
main {
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
    

header{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin:0 auto;

}

.wrap-head{
    display: flex;
    justify-content: center;
    align-items: center;

}

#logo {
    margin-right: 44,5px;
} 

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 65px;
}
.list {
    display: flex;
    gap: 19px;
    list-style: none;
}
.menu-item a{
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.button {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
}

.button-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EF7F04;
    color: #FFFFFF;
    font-family: Roboto;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 19px;
    width: 169px;
    height: 40px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    border: none;
    
}
.button-1 img {
margin-right: 10px;
} 

.button-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3B3A63;
    color: #FFFFFF;
    width: 172px;
    height: 40px;
    font-family: Roboto;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 23px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    border: none;
}
.button-2 img {
    margin-right: 10px;
} 

.banner {
    display: flex;
    flex-direction: row;
    background-image: url(../assets/images/window.png), url(../assets/images/window-2.png);
    background-position: left center,right center;
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
    width: 1920px;
    height: 562px;
    background-blend-mode: multiply;
    background-color: #333349;
}
.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 445px;
    margin-top: 129.25px;
}
.banner-title {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
}

.bannerWindowTitle { 
    display: flex;
    color: #EF7F04;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}
.bunnerSubtitle {
    display: flex;
    color: #FFF;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-top: 0px;
    width: 511px;
}

.banner-cards {
    display: flex;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.bannerTitle {
    width: 176px;
    height: 58px;
    gap: 33px;

}

.form-container {
    display: flex;
    justify-content: center;
    margin-top:60px;
    margin-right: 444px;
    background-color: #FFF;
    width: 406px;
    height: 428px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
}


.head-form{
    display: flex;
    justify-content: center;
    margin-top: 43px;
    color: #2F2F51;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    }

.form-flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 27px;
    }

.form-group{
    display: flex;
    justify-content: center;
}
input[type=text] {
    display: flex;
    height: 40px;
    width: 322.5px;
    border-radius: 3px;
    background: #E2E2E2;
    padding-left: 16px;

}
::placeholder{
    font-family: Roboto;
    color: #424268;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;color: #424268;}


.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

}
#term {
    display: flex;
    width: 25px;
    height: 25px;

}
label{
    display: flex;
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 287.5px;
    height: 48px;

}
.button{
    display: flex;
    justify-content: center;
}

.button-form{
    display: flex;
    align-items: center;
    width: 199px;
    height: 54.5px;
    border-radius: 3px;
    background: #EF7F04;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 40px;
    padding-right: 39px;
    padding-top: 19.25px;
    padding-bottom: 19.25px;
    white-space: nowrap;
}
.main-container{
    display: flex;
    flex-direction:column ;
    align-items: center;
    background-color: #F2F2F2;
}
.TitleNavImg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.productTitle{
    display: flex;
    justify-content: center;
    color: #2F2F51;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 103px;
    margin-bottom: 0px;
}
.navigation-mail {
    display: flex;
    justify-content:center;
    margin-top: 42px;
}
.list-main {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 70px;
}
.menu-item-main a {
    display: flex;
    color: #2F2F51;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.main-text {
    display: flex;
    background-image: url(../assets/images/main1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1145px;
    height: 461px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    margin-top: 37px;
}
.main-text-container{
    display: flex;
    flex-direction: column;
    width: 511px;
    height: 335px;
    flex-shrink: 0;
    margin-left: 601.61px;
}

.textTitle {
    display: flex;
    color: #EF7F04;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
}
.textTitle1 {
    display: flex;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 380px;
    }
    .textTitle2 { 
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    }
    .dots{
        color: #BABABA;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    }
    .end-number {
        color: #2F2F51;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    }
.main-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: multiply;
    background-color: #2F2F51;
    background-image: url(../assets/images/main2.png);
    border-radius: 3px;
    width: 1200px;
    height: 436px;
    flex-shrink: 0;
    margin-top: 54px;

}
.img-main-2{
    display: flex;
    justify-content: center;
    margin-top: 35.5px;
}

.main-cards{
    display: flex;
    justify-content: center;
    margin-top: 51px; 
    margin-left: 42px;
    margin-right: 78.4px;
    gap: 50px;
}
.main-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.icon-container {
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mainP {
    display: flex;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    justify-content: center; 
    align-items: center;     
    text-align: center; 
    align-self: flex-start;
}
.button-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3B3A63;
    color: #FFFFFF;
    width: 256px;
    height: 54.5px;
    flex-shrink: 0;
    font-family: Roboto;
    padding-top: 17.25px;
    padding-bottom: 18.25px;
    padding-left: 22px;
    padding-right: 54px;
    border-radius: 3px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    margin-top: 56px;
    box-sizing: border-box;
}




/* .form-container-2 {
    background-color: #FFF;
    position: absolute;
    top: 820px;
    right: 1093px;
    width: 406px;
    height: 428px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);

}

.head-form-2{
    color: #2F2F51;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 43px;
    margin-right: 82.5px;
    margin-left: 82.5px;
    margin-bottom: 27px;
    white-space: nowrap;
}

.button-form-2{
    width: 258px;
    height: 52.452px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #2F2F51;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 40px;
    padding-right: 39px;
    padding-top: 19.25px;
    padding-bottom: 19.25px;
    white-space: nowrap;
    margin-left: 103px;
}
.head-footer {
    margin-left: 891.5px;
    margin-top: 100px;
    color: #2F2F51;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.head-footer-2 {
    margin-left: 461px;
    width: 370.781px;
    color: #2F2F51;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.contacts {
    margin-left: 461px;
    width: 100%;
}
.tel {
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 163.636% */
    margin-left: 26.83px;
    }
.adress {
color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 26.83px;
}
.email-adress {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 26.83px;
}
.text {
    width: 228.414px;
    height: 254.998px;
    flex-shrink: 0;
    color: #2F2F51;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    margin-top: 57.89px;
    margin-bottom: 0px;
}
.icons-footer {
    display: inline-block;
    margin: 5px;
    position: relative;
    top: -50px;
    
}
#image-workers {
    margin-left: 723px;
    position: relative;
    margin-top: -320px;
}
    .low {
        display: flex;
        justify-content:center;
        margin:0 auto;
        height: 146px;
        width: 1920px;
        background: #2F2F51;    
    }
#logo-2 {
    margin-left: 360px;
    margin-top: 55px;
}
.low-text {
    margin-left: 22px;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}
.list-footer li a {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none;
}
.list-footer {
list-style: none;}
#privacy-policy {
    position: absolute;
    margin-top: -50px;
    margin-left: 1123px;
}
#terms {
    position: absolute;
    margin-top: -50px;
    margin-left: 1350px;
}
 */


