<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<div class="container">
    <header class="header">Шапка</header>
    <div class="main">
        <div class="main-header">Основная часть</div>
        <div class="main-card-1">Еще 1</div>
        <div class="main-card-2"> Еще 2</div>
        <div class="main-card-3"> Еще 3</div>
    </div>
    <aside class="aside"> Боковая область</aside>
    <footer class="footer">
        <div class="footer-card-1">Секция футера 1</div>
        <div class="footer-card-2">Секция футера 2</div>
        <div class="footer-card-3">Секция футера 3</div>
        <div class="footer-card-4">Секция футера 4</div>
    </footer>
</div>
</body>
</html>