#logo {
    margin-left: 360px;
    margin-top: 18px;
}
#list {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#servises
{
    position: absolute;
    top: 40.5px;
    left: 494px;
}
#goods 
{
    position: absolute;
    top: 40.5px;
    left: 581px;
}
#about-company 
{
    position: absolute;
    top: 40.5px;
    left: 699.5px;
}
#portfolio
{
    position: absolute;
    top: 40.5px;
    left: 818px;
}
#questions-answer
{
    position: absolute;
    top: 40.5px;
    left: 934px;
}
#contacts
{
    position: absolute;
    top: 40.5px;
    left: 1070px;
}
.button-1 {
    background-color: #EF7F04;
    color: #FFFFFF;
    font-family: Roboto;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 47px;
    padding-right: 19px;
    width: 169px;
    height: 40px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    top: 28.5px;
    left: 1205px;
    position: absolute;
    border: none;
    
}
.button-2 {
    background-color: #3B3A63;
    color: #FFFFFF;
    width: 172px;
    height: 40px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    top: 28.5px;
    left: 1388px;
    position: absolute;
    border: none;
}
.background {
    margin-top: 19px;
    background-image: url(../assets/images/window.png), url(../assets/images/window-2.png);
    background-position: left center,right center;
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
    width: 1920px;
    height: 562px;
    background-color: rgba(211, 211, 211, 0.5);
    background-blend-mode: multiply;
    background-color: #333349;

}
.text-1 {
    color: #EF7F04;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 444px;
    margin-top: 131.25px;
    position: absolute;
    
}
.text-2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    width: 511px;
    margin-left: 444px;
    margin-top: 161.25px;
    position: absolute;
}
.text-4 {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 176px;
    margin-left: 444px;
    margin-top: 372.5px;
    position: absolute;
}
.text-5 {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 165px;
    margin-left: 653px;
    margin-top: 372.5px;
    position: absolute;
}
.text-6 {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 157px;
    margin-left: 861px;
    margin-top: 372.5px;
    position: absolute;
}

